#page
  .content
    .box
      .page-header
        %h2 免费注册
      %form
        .controls
          %label(for='name') 商店名称
          %input#name(name='name')
        .controls
          %label(for='email') 您的 Email 地址
          %input#email(name='email')
        .controls
          %label(for='password') 密码
          %input#password(name='password' type='password')
        .controls
          %label(for='confirm_password') 确认密码
          %input#confirm_password(name='password' type='confirm_password')
        .controls
          %button.btn 免费注册
