#page
  .content
    .box
      .page-header
        %h2 注册
      %form
        .controls
          %label 给您的商店取个名字
          %input(name='name')
        .controls
          %label 您的ShopQi商店Web地址
          %input(name='domain[subdomain]')
        .controls
          %button.btn 注册
