%h2 ShopQi 云商店，将为您提供:
%ul
  %li 一套好用的电子商务管理软件
  %li 多台性能强劲的服务器
  %li 支持全国高速访问的双线线路
  %li 采用 SSL 安全加密连接技术
  %li 6x10 小时专业技术支持
%p 以上服务永久免费，没有任何功能限制

%h3 一套好用的电子商务管理软件
%p ShopQi 电子商务管理软件包含商品管理、订单管理等常用功能，支持定制模板外观。
%p
  所有源代码公开于 
  =link_to "Github", "https://github.com/saberma/shopqi"
  。如果你熟悉软件技术，并且有自己的服务器，您也可以基于 ShopQi 自行搭建网店。

%h3
  %del> 多
  一台性能强劲的服务器
%p 服务器配备 64G 内存，24 核心CPU，组建 RAID1 磁盘阵列；用于托管电子商务软件程序、存放商店各种数据；我们会根据负载情况逐渐增加服务器数量。
%p 由于现在服务器只有一台，当它出现硬件故障时，将会导致您的商店短时间内无法访问。尽管这个概率非常低，但有必要提醒您在使用前考虑这一点。

%h3 支持全国高速访问的双线线路
%p 有效解决国内南电信北联通访问速度慢的问题。

%h3 采用 SSL 安全加密连接技术
%p 确保您的商店信息在互联网传输过程中不会被窃取。

%h3 6x10 小时专业技术支持
%p 当您需要帮助时，可以通过论坛获得技术支持。
