.content
  #screenshot
    .main
      %h2 ShopQi 云商店，将为您提供:
      %ul
        %li 一套好用的电子商务管理软件
        %li 多台性能强劲的服务器
        %li 支持全国高速访问的双线线路
        %li 采用 SSL 安全加密连接技术
      %p 以上服务永久免费，没有任何功能限制
    .secondary
      =image_tag "http://flickholdr.com/464/308/software"

.content
  #features
    .row
      .software
        %h3 一套好用的电子商务管理软件
        %p ShopQi 电子商务管理软件包含商品管理、订单管理等常用功能，支持定制模板外观。
      .server
        %h3 一台性能强劲的服务器
        %p 服务器配备 64G 内存，24 核心CPU；用于托管电子商务软件程序、存放商店各种数据；我们会根据负载情况逐渐增加服务器数量。
    .row
      .route
        %h3 支持全国高速访问的双线线路
        %p 服务器托管在专业五星级双线机房，有效解决国内南电信北联通访问速度慢的问题。
      .ssl
        %h3 采用 SSL 安全加密连接技术
        %p 浏览器与服务器进行通信时，数据要经过多个路由器进行中转，采用 SSL 安全加密技术可以确保您的商店信息在传输过程不会被窃取。
