//----------------------------------------------
// Variable
//----------------------------------------------

// Html5 Boilerplate overrides                           // http://git.io/duAhQQ
$line-height: 22px;  // 1.4 for true normalization
$font-color: #353535;
$font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
$font-size: 16px;
$link-color: #009ACD;
$link-hover-color: darken($link-color, 10%);             // http://j.mp/NQoQdi
$link-visited-color: $link-color;
$selected-font-color: #fff;
$selected-background-color: hsl(220, 50%, 80%);
$invalid-background-color: hsl(220, 50%, 80%);

// Compass Vertical Rhythm                               // http://git.io/bSHb9Q
$base-font-size       : $font-size;
$base-line-height     : $line-height;
$relative-font-sizing : false; // use pixel instead of em

// Susy: Responsive grids for Compass.                   // http://j.mp/SCngxq
$total-columns  : 12;             // a 12-column grid
$column-width   : 4em;            // each column is 4em wide
$gutter-width   : 1em;            // 1em gutters between columns
//$column-width   : 64px;            // each column is 64px wide
//$gutter-width   : 16px;            // 16px gutters between columns
$grid-padding   : $gutter-width;  // grid-padding equal to gutters

//----------------------------------------------
// Import
//----------------------------------------------

@import "h5bp/normalize";                                // http://git.io/Ghyv4g
@import "h5bp/helpers";                                  // http://git.io/nT8T5g

@import "compass";
@import "susy";

@include h5bp-normalize;
@include h5bp-helpers; // .ir .clearfix

@include establish-baseline;                             // http://j.mp/Q6fmdw

//----------------------------------------------
// Mixin
//----------------------------------------------

// bullet for div
@mixin bullet($bullet-icon, $width: image-width($bullet-icon), $height: image-height($bullet-icon), $line-height: rhythm(2), $padding: (image-width($bullet-icon)+30)) {
    padding-left: $padding;
    background: image-url($bullet-icon) no-repeat ($padding - $width) / 2 ($line-height - $height) / 2; }
