//----------------------------------------------
// Variable
//----------------------------------------------

// Html5 Boilerplate overrides                           // http://git.io/duAhQQ
$line-height: 22px;  // 1.4 for true normalization
$font-color: #353535;
$font-family: 'Helvetica Neue',Helvetica,Arial,Sans-serif;
$font-size: 12px;
$link-color: #009EE8;
$link-hover-color: darken($link-color, 10%);             // http://j.mp/NQoQdi
$link-visited-color: $link-color;
$selected-font-color: #fff;
$selected-background-color: hsl(220, 50%, 80%);
$invalid-background-color: hsl(220, 50%, 80%);

// Compass Vertical Rhythm                               // http://git.io/bSHb9Q
$base-font-size       : $font-size;
$base-line-height     : $line-height;
$relative-font-sizing : false; // use pixel instead of em

// Susy: Responsive grids for Compass.                   // http://j.mp/SCngxq
$total-columns  : 24;               // a 12-column grid
//$column-width   : 4em;            // each column is 4em wide
//$gutter-width   : 1em;            // 1em gutters between columns
$column-width   : 32px/$font-size*1em;
$gutter-width   : 8px/$font-size*1em;
$grid-padding   : $gutter-width;    // grid-padding equal to gutters

// Sassy Button                                          // http://j.mp/TT7NvE
$sb-base-color:      $link-color;  // Base color of your button
$sb-second-color:    false;        // Optional second color of button gradient
$sb-border-radius:   5px;          // Button border radius
$sb-border-width:    1px;          // Button border width
$sb-padding:         ($base-line-height - $sb-border-width) $gutter-width*3;  // Button padding
$sb-font-size:       20px;         // Button font-size
$sb-line-height:     $base-line-height;        // Button line-height
$sb-text-color:      white;        // Button text color
$sb-text-style:      "inset";      // Button text shadow style
$sb-gradient-style:  "matte";      // Button gradient style
$sb-auto-states:     true;         // Automatically create pseudo styles

//----------------------------------------------
// Import
//----------------------------------------------

@import "h5bp/normalize";                                // http://git.io/Ghyv4g
@import "h5bp/helpers";                                  // http://git.io/nT8T5g

@import "compass";
@import "compass/layout/sticky-footer";
@import "susy";
@import "sassy-buttons";

@include h5bp-normalize;
@include h5bp-helpers; // .ir .clearfix

@include establish-baseline;                             // http://j.mp/Q6fmdw
@include sticky-footer(rhythm(3), ".wrapper", "#push-footer", "#footer"); // element should not use margin top and bottom // http://j.mp/O8qBEB

//----------------------------------------------
// Mixin
//----------------------------------------------

// bullet for div
@mixin bullet($bullet-icon, $width: image-width($bullet-icon), $height: image-height($bullet-icon), $line-height: rhythm(2), $padding: (image-width($bullet-icon)+30)) {
    padding-left: $padding;
    background: image-url($bullet-icon) no-repeat ($padding - $width) / 2 ($line-height - $height) / 2 + rhythm(1); } // add padding-top to height

// Horizontal Rhythm
@mixin margin-left($unit: 1) {
  margin-left: gap($unit); }

//----------------------------------------------
// Function
//----------------------------------------------

// Horizontal Rhythm
@function gap($unit: 1) {
  @return $gutter-width * $unit; }
