/*
 *= require_self
 *= require responsiveslides
 */
@import "base";

body {
  // @include debug-vertical-alignment;
  background-image: url(image-path('background.png')); }

h1, h2, h3, p, ol, ul {
  color: lighten($font-color, 20%);
  @include rhythm(1); }
h1 {
  @include adjust-font-size-to($base-font-size + 18); }
h2 {
  @include adjust-font-size-to($base-font-size + 12); }
h3 {
  @include adjust-font-size-to($base-font-size + 6); }
a {
  text-decoration: none;
  &:hover {
    text-decoration: none; } }

.content {
  //@include susy-grid-background(); // debug
  @include container; } //width: 940px;  margin: 0 auto; //center
.row {
  @extend .clearfix; }
.box {
  background: white;
  @include border-radius(3px);
  @include box-shadow(#ccc 0px 0px 1px 1px); }
.btn {
  text-align: center;
  @include sassy-button;
  &:visited {
    color: $sb-text-color; } }

#header {
  height: rhythm(4);
  border-bottom-color: #c8c8c8;
  background: white;
  @extend .clearfix;
  @include box-shadow(#ccc 0 0 3px);
  @include trailing-border(1px);
  h2 {
    float: left;
    width: image-width('logo.jpg');
    height: image-height('logo.jpg');
    background-image: image_url('logo.jpg');
    @extend .ir;
    @include rhythm(1); }
  ul {
    float: right;
    @include horizontal-list-container;
    @include rhythm(1);
    li {
      @include adjust-font-size-to($base-font-size + 4);
      @include horizontal-list-item(8px); } } }

#footer {
  background: white;
  border-top-color: #ccc;
  @include leading-border;
  @include padding-trailer;
  span {
    float: left; }
  ul {
    float: right;
    @include horizontal-list(8px); } }

#screenshot {
  @include margin-leader(1);
  .main {
    @include span-columns(10);
    ul {
      padding-left: 0;
      @include adjust-font-size-to($base-font-size + 6);
      @include adjust-leading-to(2); // bullet height exceed 1 lines
      @include pretty-bullets('ok.png', $line-height: rhythm(2), $padding: (image-width('ok.png') + 16px)) } }
    p {
      @include margin-left(5); }
  .secondary {
    @include rhythm(1);
    @include span-columns(14 omega);
    img {
      padding: rhythm(0.5);
      @include box-shadow(rgba(0,0,0,0.15) 0 1px 1px 1px inset, white 0 -1px 1px 1px inset);
      @include background-image(linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)));
      @include border-radius(5px); } } }

#features {
  border-bottom-color: #eee;
  @include trailing-border;
  @include padding-trailer(3);
  .box {
    @include span-columns(24);
    @include rhythm(3, 2, 2); } // margin-top padding-top padding-bottom margin-bottom
  h3 {
    @include adjust-leading-to(2); } // bullet height exceed 1 lines
  .software, .route {
    @include span-columns(9);
    @include pad(2, 1); }
  .server, .ssl {
    @include span-columns(9 omega);
    @include pad(1, 2); }
  .software h3 {
    @include bullet('display.png'); }
  .server h3 {
    @include bullet('hdd.png'); }
  .route h3 {
    @include bullet('sort.png'); }
  .ssl h3 {
    @include bullet('lock.png'); } }
